################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IEX.Test/bin
/IEX.Test/obj
/IEX.Test/Properties/launchSettings.json
/TestResults
/ZH.Code/bin
/ZH.Code/obj
