<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <!--<clear />-->
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="GitHubPackages" value="https://nuget.pkg.github.com/vslee/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="vslee" />
            <add key="Password" value="GHPackagesToken" />
        </github>
    </packageSourceCredentials>
</configuration>